:root {
  scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    transition: transform 700ms ease-in-out;
}
.photo-card {
    max-width: 300px;
    box-shadow: 0px 1px 24px 0px rgba(0,0,0,1);
    overflow: hidden;
    background-color: #D9AFD9;
    border-radius: 20px;
    transition: box-shadow 700ms ease-in-out;
}

.photo-card:hover img{
   transform: scale(1.10);
}
.photo-card:hover {
  box-shadow: 0px 1px 24px 0px whitesmoke;
}

.gallery {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5625rem;
    animation: pulse 3s infinite;
    justify-content: center;
    padding-top: 10px;
}
@keyframes pulse {
  0% {
    background-color:  #D9AFD9;
  }
  25% {
    background-color:  #FA8BFF;
  }
  50% {
    background-color:  #FF5ACD;
  }
  75% {
    background-color: #FF3CAC;
  }
  100% {
    background-color: #FA8BFF;
  }
}  

.info-item {
    display: flex;
    column-gap: 1.25rem;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0.75rem;
}
.info {
    display: flex;
    gap: 0.9375rem;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../bann.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
}
input {
    position: relative;
    font-size: 1.2em;
    background-color: #D9AFD9;
    padding: 5px;
    display: inline-block;
    border-radius: 9999em;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    z-index: 4;
    transition: all 700ms ease-in-out;
}
input:focus-within {
  background-color: cadetblue;
  color: azure;
}

.search-icon {
    min-width: 30px;
    min-height: 30px;
    transition: transform 500ms ease-in-out;
}

.search-button {
  align-items: center;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  min-width: 50px;
  height: 50px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 5;
  position: relative;
  right: 40px;
}
.search-button:hover .search-icon{
    transform: scale(1.10);
}

.is-hidden {
    overflow: hidden;
    position: absolute;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;
}
.up-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  text-decoration: none;
  color: darkslateblue;
  width: 60px;
  height: 60px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 20px;
  transition: all 700ms ease-in-out;
  opacity: 0.9;
}
.up-btn:hover,
.up-btn:focus {
  background-color: #FF5ACD;
  color: #97D9E1;
  transform: scale(1.15);
  opacity: 1;
}
.end {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 3.75rem;
  font-weight: bold;
}
.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 99999;
}
.fullscreen {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.fullscreen-body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.5);
}
/* .fullscreen-title {
  font-size: 30px;
  letter-spacing: 20px;
  font-weight: 700;
  margin: 0px 14px 20px 14px;
  color: #fff;
  z-index: 99999999;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  transition: all 600ms ease-in-out;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-title:hover, .fullscreen-title:focus {
  color: #FF5ACD;
  transform: scale(1.20);
  border-color: #FF5ACD;
} */
.fullscreen-title {
  position: relative;
  padding: 16px 30px;
  font-size: 1.5rem;
  color: #1e9bff;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px #1e9bff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
  background-color: #1e9aff00;
  border: none;
  letter-spacing: 20px;
}

.fullscreen-title:hover {
  color: #fff;
  box-shadow: 0 0 0px #1e9bff;
}

.fullscreen-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e9bff;
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.fullscreen-title:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px #1e9bff,
    0 0 30px #1e9bff,
    0 0 60px #1e9bff;
}

.fullscreen-title span {
  position: absolute;
  background: #1e9bff;
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px #1e9bff,
    0 0 20px #1e9bff,
    0 0 30px #1e9bff,
    0 0 50px #1e9bff,
    0 0 100px #1e9bff;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.fullscreen-title:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.fullscreen-title span:nth-child(1),
.fullscreen-title span:nth-child(3) {
  width: 40px;
  height: 4px;
}

.fullscreen-title:hover span:nth-child(1),
.fullscreen-title:hover span:nth-child(3) {
  transform: translateX(0);
}

.fullscreen-title span:nth-child(2),
.fullscreen-title span:nth-child(4) {
  width: 4px;
  height: 40px;
}

.fullscreen-title:hover span:nth-child(1),
.fullscreen-title:hover span:nth-child(3) {
  transform: translateY(0);
}

.fullscreen-title span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
}

.fullscreen-title:hover span:nth-child(1) {
  left: 50%;
}

.fullscreen-title span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
}

.fullscreen-title:hover span:nth-child(3) {
  right: 50%;
}

.fullscreen-title span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
}

.fullscreen-title:hover span:nth-child(2) {
  top: 50%;
}

.fullscreen-title span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
}

.fullscreen-title:hover span:nth-child(4 ) {
  bottom: 50%;
}

@media screen and (max-width: 420px) {
  .fullscreen-title {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    letter-spacing: 15px;
  }
}