:root {
  scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-repeat: no-repeat;
}

img {
    display: block;
    max-width: 100%;
    transition: transform 700ms ease-in-out;
}
.photo-card {
    max-width: 300px;
    box-shadow: 0px 1px 24px 0px rgba(0,0,0,1);
    overflow: hidden;
    background-color: #D9AFD9;
    border-radius: 20px;
    transition: box-shadow 700ms ease-in-out;
}

.photo-card:hover img{
   transform: scale(1.10);
}
.photo-card:hover {
  box-shadow: 0px 1px 24px 0px whitesmoke;
}

.gallery {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5625rem;
    animation: pulse 3s infinite;
    padding: 10px;
    justify-content: center;
}
@keyframes pulse {
  0% {
    background-color:  #D9AFD9;
  }
  25% {
    background-color:  #FA8BFF;
  }
  50% {
    background-color:  #FF5ACD;
  }
  75% {
    background-color: #FF3CAC;
  }
  100% {
    background-color: #FA8BFF;
  }
}  

.info-item {
    display: flex;
    column-gap: 1.25rem;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0.75rem;
}
.info {
    display: flex;
    gap: 0.9375rem;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../bann.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
}
input {
    position: relative;
    font-size: 1.2em;
    background-color: #D9AFD9;
    padding: 5px;
    display: inline-block;
    border-radius: 9999em;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    z-index: 4;
    transition: all 700ms ease-in-out;
}
input:focus-within {
  background-color: cadetblue;
  color: azure;
}

.search-icon {
    min-width: 30px;
    min-height: 30px;
    transition: transform 500ms ease-in-out;
}

.search-button {
  align-items: center;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  min-width: 50px;
  height: 50px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 5;
  position: relative;
  right: 40px;
}
.search-button:hover .search-icon{
    transform: scale(1.10);
}

.is-hidden {
    overflow: hidden;
    position: absolute;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;
}
.up-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  text-decoration: none;
  color: darkslateblue;
  width: 60px;
  height: 60px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 20px;
  transition: all 700ms ease-in-out;
  opacity: 0.9;
}
.up-btn:hover,
.up-btn:focus {
  background-color: #FF5ACD;
  color: #97D9E1;
  transform: scale(1.15);
  opacity: 1;
}
.end {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 3.75rem;
  font-weight: bold;
}
