body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    max-width: 100%;
}
.photo-card {
    max-width: calc((100% - 45px) / 4);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: transform 700ms ease-in-out;
}
.photo-card:hover {
   transform: scale(1.05);
}

.gallery {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;
}
.info-item {
    display: flex;
    column-gap: 0.9375rem;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0.75rem;
}
.info {
    display: flex;
    gap: 0.3125rem;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-result {
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    margin: 30px auto 60px auto;
}

.show-more {
    margin: 15px auto;
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.show-more:active {
  outline: 0;
}

.show-more:hover {
  outline: 0;
}

.show-more span {
  transition: all 200ms;
}

.show-more:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
    .show-more {
    font-size: 15px;
    height: 50px;
  }

  .show-more span {
    line-height: 50px;
  }
}

input {
    position: relative;
    font-size: 1.2em;
    background: rgba(rgb(212, 189, 189), green, blue, alpha);
    padding: 5px;
    display: inline-block;
    border-radius: 9999em;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    z-index: 4;
}
.search-icon {
    min-width: 30px;
    min-height: 30px;
    transition: transform 500ms ease-in-out;
}

.search-button {
  align-items: center;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  min-width: 50px;
  height: 50px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 5;
  position: relative;
  right: 40px;
}
.search-button:hover .search-icon{
    transform: scale(1.10);
}

.is-hidden {
    overflow: hidden;
    position: absolute;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;
}